<ion-view view-title={{titleHeader}}>
  <ion-content class="padding">
      
    <div id="results">
      <div class="video" data-ng-repeat="playlist in results">
            <a class="item item-thumbnail-left" ng-click="viewMoviePlayList(playlist)">
              <img ng-src="{{ playlist.thumbnails.default.url }}">
              <h2>{{playlist.title}}</h2>
              <p>{{playlist.description}}</p>
            </a>          
      </div>
    </div>
                                                                                                                                                    
  </ion-content>
</ion-view>
